{% extends 'layout.html' %}
{% block page_title %} Change Password {% endblock %}
{% block content %} 
<div class="container h-50  w-50 justify-content-center align-items-center pc">
	<div class="container cn">
	  <div class="row">
		  <div class="col-md-12">
	      <div class="card justify-content-center border border-dark">
		      <div class="card-header text-center chb l">
			      <h5 class="ch5">Change Password</h5>
		      </div>
		      <div class="card-body">
		        <form method="POST" novalidate>

              {% csrf_token %}

              {% for field in form %}
              <div class="mb-3">
                {% if field.errors %}
                  <div class="alert alert-danger pb-0"> {{field.errors}} </div> 
                 {% endif %}
                 
                <labe for="{{field.id_for_label }}" class="form-label cb">{{field.label}}</label>
                {{field}}
              </div>
              {% endfor %}

              <div class="row">
                <div class="col-md-2">
                    <button type="submit" name="change_password" class="btn btn-primary cb">confirm</button>
                </div>
                <div class="col-md-6 mt-2">
                  <a href="{% url 'welcome' %}">Back to welcome page</a>
                </div>    
              <br>
              {% include "partials/_messages.html" %}

            </form>        
		    </div>
	    </div>
	  </div>
  </div>
</div>
{% endblock %}