{% extends 'layout.html' %}
{% block page_title %} Register {% endblock %}
{% block content %} 
  <div class="container h-50  w-50 justify-content-center align-items-center pc">
	  <div class="container cn">
	    <div class="row">
		    <div class="col-md-12">
	        <div class="card justify-content-center border border-dark">
		        <div class="card-header text-center chb l">
			        <h5 class="ch5">Registration</h5>
		        </div>
		        <div class="card-body">
			        <form action="" method="POST" novalidate>
                {% csrf_token %}
                
                {% for field in form %}
                <div class="mb-3">
                   {% if field.errors %}
                    <div class="alert alert-danger pb-0">{{field.errors}}</div> 
                   {% endif %}
                  <labe for="{{field.id_for_label }}" class="form-label cb">{{field.label}}</label>
                  {{field}}
                </div>
                {% endfor %}
                
                <div class="row">
                  <div class="col-md-2">
                    <button type="submit" name="register" class="btn btn-primary cb">Register</button>
                  </div>
                  <div class="col-md-6 mt-2">
                    <a href="{% url 'login' %}">Have an account? Log in</a>
                  </div>
                </div>
                
              </form>
              
	        </div>
	      </div>
      </div>
    </div>
  </div>
{% endblock %}